.form {
  position: relative;
  width: 100%;
}

.errorLabel {
  position: absolute;
  top: -20px;
  left: 5px;
  color: red;
}

.input {
  border: 1px solid var(--greyD9);
  border-radius: 3px 3px 0px 0px;
  min-width: 100%;
  resize: none;
  min-height: 89px;
  padding: 16px 18px;
}

.input.error {
  outline: 1px solid red;
}

.button {
  display: block;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--orange);
  width: 220px;
  height: 50px;
}