.post {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.486);
  padding-top: 150px;
  z-index: 10;
  overflow-y: auto;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  background-color: white;
  padding: 50px 60px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

@media(hover:hover) {
  .close:hover > svg > path {
    fill: var(--orange)
  }
}

.main {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

@media (max-width: 1024px) {
  .post {
    padding-top: 50px;
  }

  .container {
    padding: 40px 30px;
  }
}

@media (max-width: 550px) {

  .container {
    margin: 0 15px;
    padding: 40px 5px;
  }
}

.loading {
  text-align: center;
  font-size: 22px;
  color: var(--orange);
}